@font-face {
  font-family: 'Libre Franklin';
  src: url("../fonts/LibreFranklin-Bold.woff2") format("woff2"), url("../fonts/LibreFranklin-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url("../fonts/LibreFranklin-SemiBold.woff2") format("woff2"), url("../fonts/LibreFranklin-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url("../fonts/LibreFranklin-Light.woff2") format("woff2"), url("../fonts/LibreFranklin-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

header {
  height: 120px;
}

header .head-title {
  color: #19212c;
  text-transform: uppercase;
  font-size: 28px;
}

header .head-title::after {
  content: '.';
  color: #447bfc;
}

header .head-title-second {
  font-size: 25px;
  color: #121e2a;
  margin: 40px 0 25px 0;
}

header .head-title-second span {
  color: #959595;
  font-weight: 300;
}

header .head-paragraph {
  color: #121e2a;
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  header .head-title {
    font-size: 20px;
  }
  header .head-title-second {
    font-size: 30px;
    margin: 25px 0 15px 0;
  }
}

address {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px;
  -ms-grid-rows: (35px)[3];
      grid-template-rows: repeat(3, 35px);
  margin-bottom: 20px;
}

address .address-item {
  border-radius: 50px;
  border: none;
}

address .input {
  border: 1px solid #c7d4f4;
  outline: none;
  padding-left: 25px;
}

address .input::-webkit-input-placeholder {
  color: #c7d4f4;
}

address .input:-ms-input-placeholder {
  color: #c7d4f4;
}

address .input::-ms-input-placeholder {
  color: #c7d4f4;
}

address .input::placeholder {
  color: #c7d4f4;
}

address .input-invalid-border {
  border: 1px solid #e56272;
}

address .address-btn {
  background-color: #4d7bf3;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 2px 8px 10px rgba(172, 193, 247, 0.8);
          box-shadow: 2px 8px 10px rgba(172, 193, 247, 0.8);
}

address .invalidParagraph {
  display: none;
  color: #e56272;
}

@media (min-width: 1024px) {
  address {
    -ms-grid-columns: auto 200px;
        grid-template-columns: auto 200px;
    grid-column-gap: 15px;
    -ms-grid-rows: 40px 40px;
        grid-template-rows: 40px 40px;
  }
  address .invalidParagraph {
    -ms-grid-column-align: left;
        justify-self: left;
    padding-left: 20px;
  }
}

main {
  max-width: 650px;
}

main img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 180px auto;
      grid-template-rows: 180px auto;
  max-width: 650px;
  min-height: 100vh;
  padding: 80px 20px 20px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    -ms-grid-rows: 160px auto auto;
        grid-template-rows: 160px auto auto;
    padding: 60px 10px 10px;
  }
}
/*# sourceMappingURL=style.css.map */