address{
  display: grid;
  grid-row-gap: 15px;
  grid-template-rows: repeat(3, 35px);
  margin-bottom: 20px;
  .address-item{
    border-radius: 50px;
    border: none;
  }
  .input{
    border: 1px solid rgb(199, 212, 244);
    outline: none;
    padding-left: 25px;
    &::placeholder{color: rgb(199, 212, 244);}
  }
  .input-invalid-border{border: 1px solid rgb(229,98,114);}
  .address-btn{
    background-color: rgb(77, 123, 243);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 2px 8px 10px rgba(172, 193, 247, 0.8);
  }
  .invalidParagraph{
    display: none;
    color: rgb(229, 98, 114);
  }
}

@media(min-width: 1024px){
  address{
    grid-template-columns: auto 200px;
    grid-column-gap: 15px;
    grid-template-rows: 40px 40px;
    .invalidParagraph{
      justify-self: left;
      padding-left: 20px;
    }
  }
}