footer{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px 25px;
  grid-row-gap: 40px;
  margin-top: 120px;
  .wrapp-icons{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    justify-content: center;
    grid-column-gap: 20px;
    .icon{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid rgb(199, 212, 244);
      &:hover{
        background-color: rgb(79, 123, 248);
      }
      svg{
        width: 40px;
        height: 40px;
        padding: 10px;
      }
    }
    svg, path .icon-item{
      fill: rgb(79, 123, 248);
      &:hover{fill: #fff;}
    }
  }
  .copyright{
    color: rgb(180, 180, 180);
  }
}