// FONTS CONNECT SECTION
@font-face {
  font-family: 'Libre Franklin';
  src: url('LibreFranklin-Bold.woff2') format('woff2'),
    url('LibreFranklin-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('LibreFranklin-SemiBold.woff2') format('woff2'),
    url('LibreFranklin-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('LibreFranklin-Light.woff2') format('woff2'),
    url('LibreFranklin-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// SCSS SECTION CONNECT
@import './header';



// CSS CONNECT SECTION
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.container{
  max-width: 650px;
  padding: 80px 50px 50px;
  text-align: center;
  margin: 0 auto;
}
