// FONTS CONNECT SECTION
@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
    url('../fonts/LibreFranklin-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Light.woff2') format('woff2'),
    url('../fonts/LibreFranklin-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// SCSS SECTION CONNECT
@import './header';
@import './address';



// CSS CONNECT SECTION
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.container{
  display: grid;
  grid-template-rows: 180px auto;
  max-width: 650px;
  min-height: 100vh;
  padding: 80px 20px 20px;
  text-align: center;
  margin: 0 auto;
}
@media(min-width: 1024px){
  .container{
    grid-template-rows: 160px auto;
    padding: 60px 10px 10px;
  }
}
